* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  max-width: 1680px;
  min-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

.photo {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Serif", "Bookman Old Style", serif;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 36px;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 25px;
  color: #2c2c2c;
}

.header a:hover {
  color: #ff715b;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__account svg {
  margin-right: 10px;
}

.header__search {
  background: url("../img/serch.svg");
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-position: center center;
  border: none;
  margin-left: 35px;
  position: relative;
  cursor: pointer;
}

.header__search::before {
  content: "";
  border-left: 1px solid #f1e0dd;
  width: 0;
  height: 20px;
  position: absolute;
  top: 0;
  left: -15px;
  cursor: auto;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__item {
  list-style: none;
}

.main-menu__item:not(:last-child) {
  margin-right: 40px;
}

.travel-now__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/hero-banner.jpg");
  max-width: 100%;
  height: 1000px;
  margin-bottom: 20px;
}

.travel-now__name {
  padding-left: 8%;
}

.travel-now__name-header {
  font-weight: bold;
  font-size: 84px;
  line-height: 112px;
  max-width: 755px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c2c2c;
  padding-bottom: 50px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .travel-now__list {
    background-image: url("../img/hero-banner@2x.jpg");
  }
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: white;
  background: #ff715b;
  padding: 18px 36.5px;
}

.button:hover {
  background: #f3553d;
}

.button.button-form {
  padding: 20px 37px;
}

.button.button-destinations {
  padding: 20px 34px;
}

.travel-form {
  width: 70.5%;
  background: white;
  -webkit-box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
          box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -77px;
  right: 0px;
  padding: 45px;
}

.travel-form__filter {
  border: none;
  width: 81.6%;
}

.explore {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore__list {
  padding: 0;
  margin: 0;
  max-width: 1394px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore__item {
  cursor: pointer;
  padding: 30px 40px;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore__item:not(:last-child) {
  margin-right: 30px;
}

.explore__item:hover {
  background: white;
  -webkit-filter: drop-shadow(0px 12px 30px rgba(200, 180, 180, 0.2));
          filter: drop-shadow(0px 12px 30px rgba(200, 180, 180, 0.2));
}

.explore__photo {
  height: 50%;
}

.explore__photo img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore__text {
  height: 50%;
}

.explore__text h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #2c2c2c;
  margin: 0;
}

.explore__text p {
  text-align: center;
  margin: 20px 0 30px 0;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  border: 2px solid transparent;
  background-color: #ff715b;
}

.arrow:hover {
  background-color: #f3553d;
}

.arrow:not(:last-child) {
  margin-right: 20px;
}

.arrow-right {
  background: transparent;
  border-color: #f5ebe9;
}

.arrow-right:hover {
  background-color: #f5ebe9;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26%;
}

.slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider span {
  width: 53%;
}

.slider__counter {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #ff715b;
}

.top-destinations {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16%;
}

.top-destinations::after {
  content: "";
  background: #f6f6f6;
  width: 789px;
  height: 580px;
  position: absolute;
  top: -25%;
  right: -5.57%;
  z-index: -1;
}

.top-destinations__content {
  width: 25%;
  margin-right: 5%;
}

.top-destinations__content h2 {
  padding-bottom: 20px;
}

.top-destinations__content span {
  color: #ff715b;
}

.top-destinations__content p {
  padding-top: 20px;
  padding-bottom: 60px;
}

.top-destinations__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

.top-destinations__img {
  position: relative;
  cursor: pointer;
}

.top-destinations__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.top-destinations__img:not(:last-child) {
  margin-right: 30px;
}

.top-destinations__img::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47.69%, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.69%, rgba(0, 0, 0, 0.8) 100%);
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-destinations__img span {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: white;
  z-index: 1;
}

.heading {
  margin: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #2c2c2c;
}

.text-lexend {
  font-family: "Lexend Deca", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #a79997;
}

.line {
  height: 2px;
  background: #f5ebe9;
}

.out-world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 325px;
}

.out-world__list {
  max-width: 1394px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.out-world__img {
  position: relative;
  width: 50%;
}

.out-world__content {
  width: 50%;
}

.out-world__content h2 {
  margin-top: 43px;
}

.out-world__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 43px;
}

.out-world__element {
  position: relative;
  margin-top: 45px;
}

.out-world__element p {
  display: none;
  max-width: 600px;
  padding-left: 12%;
}

.out-world__element:not(:last-child)::after {
  content: '';
  height: 2px;
  width: 600px;
  background: #f5ebe9;
  display: block;
}

.out-world__heading {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.out-world__heading h3 {
  font-family: "Noto Serif", "Bookman Old Style", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: black;
}

.out-world__heading:hover + .block {
  display: block;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.out-world__heading:hover .out-world__icon-orange {
  -webkit-box-shadow: 0px 10px 15px rgba(255, 113, 91, 0.25);
          box-shadow: 0px 10px 15px rgba(255, 113, 91, 0.25);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.out-world__heading:hover .out-world__icon-green {
  -webkit-box-shadow: 0px 10px 15px rgba(237, 250, 227, 0.25);
          box-shadow: 0px 10px 15px rgba(237, 250, 227, 0.25);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.out-world__heading:hover .out-world__icon-yellow {
  -webkit-box-shadow: 0px 10px 15px rgba(255, 248, 227, 0.25);
          box-shadow: 0px 10px 15px rgba(255, 248, 227, 0.25);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.out-world__icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  margin-right: 40px;
}

.out-world__icon-orange {
  background: #ff715b;
}

.out-world__icon-orange::after {
  content: '';
  background-image: url("../img/human_head.svg");
  width: 13px;
  height: 13px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.out-world__icon-orange::before {
  content: '';
  background-image: url("../img/human_body.svg");
  width: 24px;
  height: 10px;
  position: absolute;
  top: 60%;
  left: 30%;
}

.out-world__icon-green {
  background: #edfae3;
}

.out-world__icon-green::before {
  content: '';
  background-image: url("../img/world.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  top: 23%;
  left: 23%;
}

.out-world__icon-yellow {
  background: #fff8e3;
}

.out-world__icon-yellow::before {
  content: '';
  background: url("../img/headphones.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  top: 23%;
  left: 23%;
}

.figures__circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 8px solid #ff5b65;
  position: absolute;
  top: 328px;
  left: -147px;
}

.figures__square-yellow {
  background: #ffca45;
  width: 142px;
  height: 142px;
  border-radius: 12px;
  position: absolute;
  top: -55px;
  right: 75px;
  z-index: -1;
}

.figures__square-salmon {
  width: 216px;
  height: 635px;
  background: #ffcbc3;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  position: absolute;
  top: 32px;
  right: 112px;
  z-index: -1;
}

.figures__square-blue {
  width: 258px;
  height: 614px;
  background: #d3e2ff;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  top: 43px;
  left: -43px;
  z-index: -1;
}

.figures__ellipse {
  padding: 15px;
}

.figures__ellipse::after {
  content: '';
  width: 9px;
  height: 9px;
  background: #a39ef0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.figures__ellipse-position {
  position: absolute;
  bottom: -93px;
  left: -97px;
  z-index: -1;
}

.destination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 259px;
}

.destination::before {
  content: '';
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background: #abf19f;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  top: -230px;
  right: 54px;
}

.destination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  height: 750px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.destination__item {
  position: relative;
}

.destination__item img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.destination__item-up {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.destination__item-up::before {
  content: '';
  position: absolute;
  background: url("../img/Vector.svg");
  width: 169px;
  height: 169px;
  top: 0;
  left: -44%;
}

.destination__item-up::after {
  content: '';
  position: absolute;
  background: url("../img/Vector2.svg");
  width: 148px;
  height: 169px;
  top: 0;
  right: -40%;
}

.destination__item:not(:last-child) {
  margin-right: 30px;
}

.destination__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -9%;
  left: 12%;
  width: 400px;
  height: 105px;
  background: white;
  -webkit-box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);
          box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);
  padding: 20px 32px;
}

.destination__place h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: black;
}

.destination__place button {
  width: 50px;
  height: 50px;
  border: none;
  background: #ff715b;
  font-weight: bold;
  font-family: "Lexend Deca", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
}

.destination__place button:hover {
  background: #f3553d;
}

.destination__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
}

.destination__reviews p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ff715b;
  margin-right: 30px;
}

.destination__reviews span {
  margin-left: 7px;
  font-family: "Lexend Deca", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a79997;
}

.destination a {
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.star {
  background: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.reviews::before {
  content: '';
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background: #9CD9EC;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  top: 16%;
  left: 6%;
}

.reviews h2 {
  margin-top: 200px;
  max-width: 710px;
  text-align: center;
}

.reviews__content {
  margin-top: 100px;
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
          box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
  border-top: 12px solid #ff715b;
  padding: 0 60px;
  position: relative;
}

.reviews__content p {
  font-family: "Lexend Deca", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #a79997;
  max-width: 570px;
  margin: 50px 0;
}

.reviews__content::after {
  content: '';
  width: 242px;
  height: 242px;
  border-radius: 50%;
  background: #FFF8F8;
  position: absolute;
  bottom: -22%;
  right: -18%;
  z-index: -1;
}

.reviews__people {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__people img {
  border-radius: 50%;
  margin-right: 20px;
}

.reviews__people h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: black;
  margin: 0;
}

.reviews__people span {
  font-family: "Lexend Deca", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ff715b;
  margin-top: 12px;
}

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.slider-button button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c4c4c4;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slider-button button:not(:last-child) {
  margin-right: 20px;
}

.slider-button button.slider-button-active, .slider-button button:hover {
  background: #ff715b;
  position: relative;
}

.slider-button button.slider-button-active::before, .slider-button button:hover::before {
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #ff715b;
  background: transparent;
  position: absolute;
  top: -8px;
  left: -8px;
}

.customers-photo img {
  border-radius: 50%;
  position: absolute;
}

.customers-photo img:nth-child(1) {
  border: 5px solid #C549FF;
  -webkit-box-shadow: 0px 10px 30px #EFD8FA;
          box-shadow: 0px 10px 30px #EFD8FA;
  top: 50%;
  left: 10%;
}

.customers-photo img:nth-child(2) {
  border: 5px solid #FFCA45;
  -webkit-box-shadow: 0px 10px 30px rgba(253, 216, 122, 0.25);
          box-shadow: 0px 10px 30px rgba(253, 216, 122, 0.25);
  top: 70%;
  left: 5%;
}

.customers-photo img:nth-child(3) {
  border: 7px solid #FF4567;
  -webkit-box-shadow: 0px 10px 30px #F0CBD2;
          box-shadow: 0px 10px 30px #F0CBD2;
  top: 70%;
  left: 15%;
}

.customers-photo img:nth-child(4) {
  border: 6px solid #5F45FF;
  -webkit-box-shadow: 0px 10px 30px #D2CDF4;
          box-shadow: 0px 10px 30px #D2CDF4;
  bottom: 10%;
  left: 9%;
}

.customers-photo img:nth-child(5) {
  border: 7px solid #18A0FB;
  -webkit-box-shadow: 0px 10px 30px #C3E2F7;
          box-shadow: 0px 10px 30px #C3E2F7;
  top: 50%;
  right: 7%;
}

.customers-photo img:nth-child(6) {
  border: 6px solid #FFCA45;
  -webkit-box-shadow: 0px 10px 30px rgba(253, 216, 122, 0.25);
          box-shadow: 0px 10px 30px rgba(253, 216, 122, 0.25);
  top: 70%;
  right: 15%;
}

.customers-photo img:nth-child(7) {
  border: 6px solid #65CE54;
  -webkit-box-shadow: 0px 10px 30px #D4EAD0;
          box-shadow: 0px 10px 30px #D4EAD0;
  bottom: 9%;
  right: 10%;
}

.download {
  margin-top: 200px;
  padding: 157px 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#A6F2F2), to(#DDF181));
  background: linear-gradient(90deg, #A6F2F2 0%, #DDF181 100%);
  position: relative;
  margin-bottom: 50px;
}

.download > img {
  position: absolute;
  top: 20px;
  left: 0;
}

.download-phone1 {
  z-index: 1;
}

.download__add {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.download__add h2 {
  max-width: 619px;
}

.download__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.download__app a {
  z-index: 4;
}

.download__app a:nth-child(1) {
  margin-right: 27px;
}

.download__img {
  width: 50%;
}

.download__img > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.download__img > img:nth-child(1) {
  bottom: 6%;
  right: 23%;
  z-index: 4;
}

.download__img > img:nth-child(2) {
  top: 42%;
  right: 21%;
  z-index: 4;
}

.download__img > img:nth-child(3) {
  bottom: 0;
  right: 19.1%;
  z-index: 3;
}

.download__img > img:nth-child(4) {
  top: 8%;
  right: 25%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item p {
  max-width: 450px;
}

.footer__item h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 26px;
  color: black;
}

.footer__item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item a:hover {
  color: #ff715b;
}

.footer__item a:hover::before {
  background-color: #ff715b;
}

.contact {
  margin: 0;
  padding: 0;
}

.contact__item {
  list-style: none;
}

.contact__item:nth-child(1) a::before {
  content: '';
  background: url("../img/phon.svg");
  width: 23px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.contact__item:nth-child(2) a::before {
  content: '';
  background: url("../img/mail.svg");
  width: 22px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.contact__item:nth-child(3) a::before {
  content: '';
  background: url("../img/location.svg");
  width: 20px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.links {
  margin: 0;
  padding: 0;
}

.links__item {
  list-style: none;
}

.links__item a::before {
  content: '';
  width: 10px;
  height: 2px;
  background: #a79997;
  display: block;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
